*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imgBac{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url('../imges/1.JPG');
    
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.textBox{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
 }
 .myfoto img{
  cursor: pointer;
 }
  .wrappepe{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
  }
 .wrappepe div{
    width: 50%;
    height: 90vh;
    margin: auto;
    background-image: url('../imges/1.JPG');
    background-size: cover;
    background-position: center;
    
 }
 #clear{
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    cursor: pointer;
    margin: 5px;
    z-index: 1000;
 }
 #arrowRight{
      cursor: pointer;
      position: relative;
      left: 80px;
  }
   #arrowLeft{
      cursor: pointer;
      position: relative;
      right: 80px;
  }